.titulo-sobre {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 700;
    padding-top: 8vw;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.descricao {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    margin: 2vw 0 8vw 0;
    padding: 10px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.iconeDivisorSobre {
    color: #FFFFFF;
    font-size: 25px;
    margin-top: 3vw;
    text-shadow: black 0.1em 0.1em 0.2em;
}

@media (max-width: 991px) {
    .descricao {
        margin: 1vw 0 5vw 0;
        padding: 15px;
        text-align: center;
    }
}